

.navbar a {
  float: left;
  display: block;
  color: #4aaaa5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

header{
 overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
    border-color: #cccccc #cccccc;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
  width: 650px
}


.active {
    background-color: #4CAF50;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Georgia', Times, Times New Roman, serif;
color: #4aaaa5;
}

footer{
	background-color: #666666;
	
}

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}




@media all and (min-width: 768px) {
    
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3; position: fixed; bottom: 0; width: 100%}
}

.text{
	vertical-align: middle;
	text-align:center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}